header {
  background-color: $color-principal;
  color: $color-secundario;
}

.menunav {
  background-color: $color-principal !important;

  .nav-link {
    color: $color-secundario !important;

    &:hover {
      color: white !important;
    }
  }

  .navbar-toggler {
    background-color: white;
  }

  .navbar-brand img {
    width: 40px;
  }
}