* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #000957;
  color: yellow;
}

.menunav {
  background-color: #000957 !important;
}
.menunav .nav-link {
  color: yellow !important;
}
.menunav .nav-link:hover {
  color: white !important;
}
.menunav .navbar-toggler {
  background-color: white;
}
.menunav .navbar-brand img {
  width: 40px;
}

main {
  background-color: #000957;
  padding: 0px 0px 30px 0px;
  color: yellow;
}
main .banner {
  background-image: url("../media/escudoconfondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: justify;
  text-shadow: 15px -1px 25px rgb(243, 239, 26);
  color: yellow;
  padding: 100px 0px;
}
main .presentacionindex {
  margin: 30px 10px;
}
main .idolos {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: yellow;
}
main .diego, main .roman, main .tevez {
  width: 350px;
  height: 450px;
}

.historia {
  color: yellow;
}
.historia h1 {
  font-style: italic;
}
.historia h3 {
  padding: 10px;
}
.historia .q1, .historia .q2, .historia .q3, .historia .q4, .historia .q5, .historia .q6, .historia .q7, .historia .q8, .historia .q9, .historia .q10, .historia .q11, .historia .q12, .historia .q13,
.historia .q14, .historia .q15, .historia .q16, .historia .q17, .historia .q18, .historia .q19, .historia .q20, .historia .q21, .historia .q22, .historia .q23, .historia .q24 {
  padding: 40px 3px 15px 3px;
  text-align: center;
  text-decoration-line: overline;
}

.estadio {
  background-image: url("../media/bombonera1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../media/bombonera1.jpeg);
  text-shadow: 15px 0px 25px rgb(243, 239, 26);
  color: yellow;
  padding: 100px 0px;
  text-align: center;
}

.historiaestadio {
  padding: 20px;
  text-align: center;
  font-style: italic;
  font-size: 50px;
  text-decoration-line: underline;
}

.mainestadio h3 {
  padding: 10px;
}

.plantel {
  justify-content: space-evenly;
  text-align: center;
  padding: 10px;
}

.accordion-item {
  background-color: #000957;
  color: yellow;
}

.accordion-button {
  background-color: #000957;
  color: yellow;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.galeriamain {
  width: 100%;
  height: auto;
}

.cont-grid img {
  width: 100%;
  height: auto;
}

.cont-grid {
  display: grid;
  grid-template-areas: "video1 video1 video2 video2" "foto1 foto2 foto3 foto4" "foto5 foto6 foto7 foto8" "foto9 foto10 foto11 foto12";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 350px;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.grid-video1 {
  grid-area: video1;
}

.grid-video2 {
  grid-area: video2;
}

.grid-img1 {
  grid-area: foto1;
}

.grid-img2 {
  grid-area: foto2;
}

.grid-img3 {
  grid-area: foto3;
}

.grid-img4 {
  grid-area: foto4;
}

.grid-img5 {
  grid-area: foto5;
}

.grid-img6 {
  grid-area: foto6;
}

.grid-img7 {
  grid-area: foto7;
}

.grid-img8 {
  grid-area: foto8;
}

.grid-img9 {
  grid-area: foto9;
}

.grid-img10 {
  grid-area: foto10;
}

.grid-img11 {
  grid-area: foto11;
}

.grid-img12 {
  grid-area: foto12;
}

@media (max-width: 768px) {
  .frasebanner {
    display: none;
  }
  header {
    flex-direction: column;
  }
  header img {
    width: 40px;
  }
  header nav {
    width: 10%;
    margin: 25px;
  }
  /*galeria*/
  .cont-grid {
    grid-template-areas: "video1" "video2" "foto1" "foto2" "foto3" "foto4" "foto5" "foto6" "foto7" "foto8" "foto9" "foto10" "foto11" "foto12";
    grid-template-columns: 1fr;
    grid-template-rows: 350px;
  }
  .grid-video1, .grid-video2, .grid-img1, .grid-img2, .grid-img3, .grid-img4, .grid-img5, .grid-img6,
  .grid-img7, .grid-img8, .grid-img9, .grid-img10, .grid-img11, .grid-img12 {
    width: auto;
  }
  .idolos {
    display: grid;
    grid-template-areas: "diego" "texto1" 
    "roman" "texto2" 
    "carlos" "texto3";
    grid-template-columns: 1fr;
    grid-template-rows: 500px;
    gap: 10px;
  }
  .diego {
    grid-area: diego;
  }
  .frasediego {
    grid-area: texto1;
  }
  .roman {
    grid-area: roman;
  }
  .fraseroman {
    grid-area: texto2;
  }
  .tevez {
    grid-area: carlos;
  }
  .frasetevez {
    grid-area: texto3;
  }
  .tevez, .diego, .roman {
    justify-content: end;
  }
  footer {
    flex-direction: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    justify-content: space-around;
  }
}
main {
  background-color: #000957;
  padding: 100px 0px;
  color: yellow;
}
main .banner {
  background-image: url("../media/escudoconfondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 15px -1px 25px rgb(243, 239, 26);
  padding: 100px 0px;
}/*# sourceMappingURL=estilos.css.map */