@import 'variables';
@import 'mixin';
@import 'reset';
@import 'header';
@import 'main';
@import 'historia';
@import 'estadio';
@import 'plantel';
@import 'footer';
@import 'galeria';
@import 'mediaqueries';

main {
  background-color: $color-principal ;
  padding: $padding-grande;
  color: $color-secundario;

  .banner {
    @include fondo-con-imagen("../media/escudoconfondo.png");
    text-shadow: 15px -1px 25px rgb(243, 239, 26);
    padding: $padding-grande;
  }
}